<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.local.UsuarioApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicoApplication"
        tools:targetApi="31">
        <activity
            android:name=".UI.activities.medico.servicos.AdicionarEspecialidadeActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.servicos.EspecialidadesActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.servicos.MedicoServicosActivity"
            android:exported="false" />

        <service
            android:name=".data.remote.message.MinhaSaudeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UI.activities.medico.consultas.VisualisarConsultaMedico"
            android:exported="false" /> <!-- ENTRY POINT -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AUTH -->
        <activity
            android:name=".UI.activities.auth_e_cadastro.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.auth_e_cadastro.CadastroMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.auth_e_cadastro.CadastroPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.auth_e_cadastro.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.auth_e_cadastro.ValidarCodigoResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.auth_e_cadastro.ResetPasswordActivity"
            android:exported="false" /> <!-- PACIENTE -->
        <activity
            android:name=".UI.activities.paciente.HomePacienteActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.consultas.MinhasConsultasActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.medicos.BuscaMedicosActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.medicos.PesquisaMedicosActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.medicos.marcar_consulta.AgendarConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.perfil.PerfilPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.medicos.PerfilMedicoPublicoActivity"
            android:exported="false" /> <!-- MÉDICO -->
        <activity
            android:name=".UI.activities.medico.HomeMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.agenda.AgendaMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.consultas.ConsultasMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.perfil.PerfilMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.configuracao.ConfigNotificacoesMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.configuracao.ConfigFaqMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.configuracao.ConfigTermosMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.configuracao.ConfigSobreMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.ConfiguracoesMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.servicos.ConsultasOfertadasActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.medico.servicos.CriarConsultaOfertadaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.medicos.marcar_consulta.ConfirmacaoConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.consultas.DetalheConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.consultas.ReagendarConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.perfil.EditarPerfilPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.configuracao.ConfiguracoesPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.configuracao.ConfigNotificacoesActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.configuracao.ConfigIdiomaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.configuracao.ConfigFaqActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.configuracao.ConfigTermosActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.paciente.configuracao.ConfigSobreActivity"
            android:exported="false" />
    </application>

</manifest>