<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicoApplication"
        tools:targetApi="31">

        <!-- ENTRY POINT -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity android:name=".activities.auth_e_cadastro.LoginActivity"                       android:exported="false" />
        <activity android:name=".activities.auth_e_cadastro.CadastroMedicoActivity"              android:exported="false" />
        <activity android:name=".activities.auth_e_cadastro.CadastroPacienteActivity"            android:exported="false" />
        <activity android:name=".activities.auth_e_cadastro.ForgotPasswordActivity"              android:exported="false" />
        <activity android:name=".activities.auth_e_cadastro.ValidarCodigoResetPasswordActivity"  android:exported="false" />
        <activity android:name=".activities.auth_e_cadastro.ResetPasswordActivity"               android:exported="false" />

        <!-- PACIENTE -->
        <activity android:name=".activities.paciente.HomePacienteActivity"      android:exported="false" />
        <activity android:name=".activities.paciente.MinhasConsultasActivity"   android:exported="false" />
        <activity android:name=".activities.paciente.BuscaMedicosActivity"      android:exported="false" />
        <activity android:name=".activities.paciente.PesquisaMedicosActivity"   android:exported="false" />
        <activity android:name=".activities.paciente.AgendarConsultaActivity"   android:exported="false" />
        <activity android:name=".activities.paciente.PerfilPacienteActivity"      android:exported="false" />
        <activity android:name=".activities.paciente.PerfilMedicoPublicoActivity" android:exported="false" />

        <!-- MÉDICO -->
        <activity android:name=".activities.medico.HomeMedicoActivity"          android:exported="false" />
        <activity android:name=".activities.medico.AgendaMedicoActivity"        android:exported="false" />
        <activity android:name=".activities.medico.ConsultasMedicoActivity"     android:exported="false" />
        <activity android:name=".activities.medico.PerfilMedicoActivity"        android:exported="false" />
        <activity android:name=".activities.medico.ConfiguracoesMedicoActivity" android:exported="false" />

    </application>

</manifest>